* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
}

.main {
    width: 300px;
    height: 530px;
    margin: 30px auto;
}

.head {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin: auto;
    background-color: blue;
}

.eye_outer {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
}

.eye_inner {
    width: 30px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    background-color: white;
}

.eye_black {
    width: 10px;
    height: 20px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}

.eye_black_inner {
    width: 4px;
    height: 8px;
    border-radius: 50%;
    background-color: white;
}

.noise_outer {
    width: 100%;
    height: 20px;
    display: flex;
    justify-content: center;
}

.noise {
    width: 25px;
    height: 15px;
    border-radius: 50%;
    background-color: red;
}

.mouth_outer {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mouth {
    width: 50px;
    height: 30px;
    background-color: white;
    display: flex;
    justify-content: center;
    border-radius: 0px 0px 40px 40px;
}

.mouth_inner {
    width: 30px;
    height: 20px;
    background-color: red;
    border-radius: 0px 0px 40px 40px;
}

.bow_outer {
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bow {
    width: 85px;
    height: 20px;
    z-index: 1;
    display: flex;
    justify-content: center;
    background-color: red;
    border-radius: 20px;
}

.bow_inner {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: yellow;
}

.body_outer {
    width: 250px;
    height: 250px;
    margin: auto;
    position: relative;
}

.body {
    width: 100%;
    height: 280px;
    border-radius: 70px 70px 10px 10px;
    background-color: blue;

}

.pocket_outer {
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.pocket {
    width: 40%;
    height: 50px;
    background-color: white;
    border-radius: 0px 0px 100px 100px;
}

.hand1 {
    width: 15%;
    height: 130px;
    background-color: blue;
    position: absolute;
    border-radius: 20px;
    top: 30px;
    left: -20px;
}

.hand_white1 {
    width: 40px;
    height: 40px;
    background-color: white;
    border-radius: 50%;
    margin-top: 100px;
}

.hand2 {
    width: 40%;
    height: 40px;
    background-color: blue;
    position: absolute;
    border-radius: 20px;
    right: -70px;
    top: 40px;
}

.hand_white2 {
    width: 40px;
    height: 40px;
    background-color: white;
    border-radius: 50%;
    margin-left:70px;
}

.line_outer {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.line {
    width: 1%;
    height: 70px;
    background-color: white;
    position: absolute;
    bottom: -20px;
}

.foot_outer {
    width: 100%;
    display: flex;
    justify-content: center;
}

.foot {
    width: 124px;
    height: 35px;
    background-color: white;
    border-radius: 29px;
}