* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

.main {
    width: 100%;
}

.main_mid {
    width: 1170px;
    margin: auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.main_mid_img {
    width: 30%;
    position: relative;
}

.main_mid_img img {
    width: 100%;
    height: 270px;
    margin: 20px;
}

.main_mid_img .img_content {
    width: 100%;
    height: 86%;
    text-align: center;
    padding: 5px;
    position: absolute;
    top : 20px;
    left: 20px;
    opacity: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.main_mid_img button {
    padding: 5px;
    margin-top: 10px;
}

.main_mid_img:hover .img_content {
    opacity: 1;
    background-color: rgba(137, 43, 226, 0.161);
    color: white;
    transition: 1s;
    border-bottom: 5px solid gray;
}